.juicer-feed.modern li.feed-item {
  background: #413c39;
  border: none;
}

.juicer-feed.modern .j-message {
  color: white;
}

.j-poster h3 {
  color: white;
}

.j-twitter-post-icon {
  display: none;
}

.j-message p {
  color: #fbfbfb;
}

.j-message a {
  color: #f1bf98;
}

.j-message a:hover {
  color: #66a182;
}

.j-twitter-poster {
  color: #f1bf98;
}

.j-twitter-poster:hover {
  color: #66a182;
}

.j-poster h3 {
  color: #f1bf98;
}

.j-poster h3:hover {
  color: #66a182;
}

.j-meta {
  display: none;
}

.juicer-feed.modern .j-text {
  padding-bottom: 5px;
}

.juicer-feed.modern li.feed-item.j-twitter .j-text {
  padding-bottom: 0px;
  padding-top: 5px;
}

.j-message p {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 1rem;
}

.juicer-feed.modern li.feed-item.j-twitter .j-image {
  margin-top: 0px;
}

.juicer-feed.modern .j-poster .j-date {
  margin-right: 7px;
}

.juicer-feed.modern .j-instagram .j-poster h3 {
  margin-left: 12px;
}

.juicer-feed.modern li.feed-item {
  hyphens: none;
}
